<footer class="footer bg-light text-muted">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Our application is dedicated to manga enthusiasts. We offer a wide selection of popular manga, new releases, and much more. Dive into a world of captivating characters, thrilling stories, and extraordinary adventures. Whether you're a passionate reader or discovering the world of manga, our platform is here to satisfy your passion and provide you with an exceptional reading experience.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>If you have any questions, feedback, or inquiries, please don't hesitate to reach out to our support team. We're available 24/7 to assist you. You can contact us via email, phone, or through our social media channels.</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="mailto:info@example.com"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="tel:+123456789"><i class="fa fa-phone"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Terms of Service</h5>
        <p>By using our application, you agree to comply with our terms of service. Make sure to read and understand our terms, including the privacy policy and guidelines for user conduct. If you have any concerns or questions regarding our terms, please contact our support team for clarification.</p>
      </div>
    </div>
  </div>
  <div class="bg-light text-muted py-3">
    <div class="container text-center">
      <p class="mb-0">&copy; 2023 MangaSama. All rights reserved.</p>
    </div>
  </div>
</footer>
